.form{
    border: 1px solid black;
    width: 70%;
    height: 200px;
   
}
.form-control{
    margin: 4px 0px;
    width: 100%;
}
.form-control input[type="text"]{
    width:83%;
    height: 25px;
}
.form-control input[type="password"]{
    width:76.3%;
    height: 25px;
}
.form-control input[type="button"]{
    width: 50%;
    height: 30px;
    background-color: rgb(216, 37, 37);
    
}
.form-control button{
 width: 48%;
 height: 30px;
 background-color: rgb(61, 61, 174);
}
.form-control select{
   width: 89.5%;
   height: 30px;
   
}
