.main {
  background-color: rgb(101, 177, 214);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0px auto;
}
/* .image {
  height: 100px;
  width: 100px;
  display: flex;
  border-radius: 50px;
  position: relative;
  z-index: 900;
  left: 200px;
  top: 35px;
}
.image img {
  border-radius: 50px;
  height: 100px;
  width: 100px;
}
.input {
  border-radius: 30px;
  background-color: white;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  height: 200px;
  width: 200px;
  padding: 50px;
  box-shadow: 4px 4px lightcyan;
  color: gray;
}
.detail {
  padding: 5px;
}
.detail input {
  background-color: rgb(243, 239, 239);
  text-align: center;
  border-radius: 20px;
  height: 40px;
  border: 3px solid red;
  color: grey;
  width: 230px;
}
.detail button {
  background-color: rgb(101, 177, 214);
  border-radius: 20px;
  height: 40px;
  width: 230px;
  font-size: medium;
  color: white;
  border: 3px solid red;
}
.info {
  font-size: small;
  color: gray;
} */
.data {
  background-color: white;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.detail {
  margin-top: 40px;
}
.image {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: absolute;
  top: -40px;
}
.image img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.input {
  display: flex;
  flex-direction: column;
}
.input input {
  background-color: lightgray;
  padding: 4px 4px;
  margin: 10px 0px;
  height: 30px;
  width: 300px;
  outline: none;
  border-radius: 18px;
  border: none;
  text-align: center;
}
.button button {
  margin: 10px 0px;
  height: 30px;
  width: 300px;
  border-radius: 18px;
  border: none;
  cursor: not-allowed;
  background-color: rgb(50, 142, 204);
}
.info {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
}
